/* Variables SASS */

$c-bg: #fff;
$c-gris-1: #F6FAFE;
$c-gris-2: #F4F8FF;
$c-bleu-1: #7B96C4;
$c-bleu-2: #293B5A;
$c-vert: #55E4D4;
$c-text: #000;
$c-chevron-rouge: #FF5D87;
$c-chevron-vert: #49D8B6;

$w-texte: 13px;
$w-recherche: 10vw;
$w-sub-left: 80vw;
$w-sub-right: 18vw;
$w-search-button: 25px;

$h-barre-haut: 6vh;
$h-sub: 90vh;

$d-transition: .7s;


/* General */

body {
  overflow: hidden;
  font-family: 'Rubik',sans-serif;
  font-size: $w-texte;
  margin: 0;
  padding: 0;
  background: $c-bg;
  color: $c-bleu-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

/* Transitions et animations */

body, button {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.section {
   opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
}

/*-- Sections --*/

.section {
  width: 100vw;
  height: 100vh;
}

.barre-haute {
  width: 100%;
  height: $h-barre-haut;
  min-height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: $c-gris-1;
  & h1 {
    font-size: 2em;
    font-weight: 100;
    padding: 0 0 0 20px;
    color: $c-bleu-2;
  }
  & span {
    height: 100%;
    width: $w-sub-right;
    min-width: 150px;
    align-items: center;
    justify-content: space-around;
    border-left: .5px solid $c-bleu-1;
    display: flex;
    & i {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      overflow: hidden;
      & img {
        width: 100%;
        margin: auto 0;
      }
    }
    & h2 {
      text-transform: uppercase;
      font-size: .9em;
    }
  }
}

/* Recherche */

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 0 5vw 0 1vw;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px solid $c-bleu-1;
  border-radius: 2em;
  padding: 1em;
  outline: none;
  &:focus{
    border: 1px solid $c-bleu-2;
    transition: 0.35s ease;
    color: $c-bleu-2;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
   }
 }

#search-button {
  all: unset;
  cursor: pointer;
  width: $w-search-button;
  height: $w-search-button;
  background-color: #fff;
  border: 1px solid $c-bleu-1;
  border-radius: 100%;
  margin-left: 5px;
  padding: .2em .5em;
  &:active {
    transform: translateY(1px);
  }
}

/* Section : activité */

.sub-content {
  display: flex;
}

.sub-content-left {
  height: $h-sub;
  width: $w-sub-left;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.sub-top {
  width: 95%;
  height: 20%;
  min-height: 80px;
  padding: .2em 2em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  & h2 {
    margin: 0;
    color: black;
    font-size: 2em;
    font-weight: 300;
  }
  & div form{
    min-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    & select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background-image: none;
      background-color: #fff;
      flex: 1;
      padding: 0 1.5em 0 1em;
      cursor: pointer;
      &::-ms-expand {
        display: none;
      }
    }
  }
}

.select {
  position: relative;
  display: flex;
  height: 3em;
  line-height: 3;
  padding: 0 1em;
  margin-right: 1em;
  border: 2px solid $c-gris-2;
  overflow: hidden;
  border-radius: 2em;
  &::after {
    content: '\25BE';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  &:hover::after {
    color: #f39c12;
  }
}

.sub-middle {
  width: 100%;
  height: 80%;
  overflow: hidden;
  & canvas {
    width: 100%;
    min-height: 300px;
  }
}

.sub-content-right {
  height: $h-sub;
  width: $w-sub-right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sub-content-right .item {
  width: 50%;
  height: 20%;
  min-width: 60px;
  min-height: 60px;
  padding: .8em 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid $c-gris-2;
  border-radius: 1em;
  margin-top: 25px;
  font-size: 1.2em;
  & i.fa-chevron-circle-up{
    font-size: .8em;
    color: $c-chevron-vert;
  }
  & i.fa-chevron-circle-down{
    font-size: .8em;
    color: $c-chevron-rouge;
  }
  & h3 {
    margin: 0;
  }
}