@charset "UTF-8";
/* Variables SASS */
/*---------- General ----------*/
body {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #7B96C4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

body {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/*---------- Sidebar ----------*/
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 8vw;
  min-width: 80px;
  z-index: 10;
  background-color: #FFD166;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
}
#sidebar #logo {
  position: absolute;
  top: 0;
  width: 100%;
  background: #FFF;
}
#sidebar #logo::before {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  height: 50px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 #fff;
}
#sidebar .pop {
  width: 100%;
  height: 20%;
  min-height: 50px;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .pop.selected .pop-wrap {
  transition: background-color 500ms cubic-bezier(0.9, 0, 0.33, 1), border-radius 900ms cubic-bezier(0.9, 0, 0.33, 1);
}
#sidebar .pop .pop-wrap {
  width: 50%;
  min-width: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: background-color 900ms cubic-bezier(0.9, 0, 0.33, 1), border-radius 500ms cubic-bezier(0.9, 0, 0.33, 1);
}
#sidebar .pop .pop-wrap .svg-wrap {
  cursor: pointer;
  position: relative;
  padding: 1em;
}
#sidebar .pop .pop-wrap .svg-wrap svg {
  fill: #fff;
  transition: all 500ms cubic-bezier(0.9, 0, 0.33, 1);
}
#sidebar .pop .pop-wrap .svg-wrap:active {
  transform: scale(0.95);
}
#sidebar .pop .pop-wrap .select {
  position: relative;
  height: 3em;
  line-height: 3;
  padding: 0.1em 0.5em;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 1.5em;
}
#sidebar .pop .pop-wrap .select::after {
  content: "▾";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 0.5em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
#sidebar .pop .pop-wrap .select:hover::after {
  color: #FFD166;
}
#sidebar .pop .pop-wrap .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  background-color: transparent;
  flex: 1;
  padding: 0 0.8em 0 0.1em;
  cursor: pointer;
}
#sidebar .pop .pop-wrap .select select::-ms-expand {
  display: none;
}

/*---------- Section Graph ----------*/
#section {
  width: 92vw;
  transition: all 800ms cubic-bezier(0.9, 0, 0.33, 1);
}

.barre-haute {
  width: 100%;
  height: 6vh;
  min-height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.barre-haute h1 {
  font-size: 1.5em;
  font-weight: 100;
  padding: 0 0 0 20px;
  color: #293B5A;
}
.barre-haute h1 span {
  padding: 0.5em;
  border-radius: 1em;
  background: #EF476F;
  color: #fff;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 0 5vw 0 1vw;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #F4F8FF;
  border-radius: 2em;
  padding: 1em;
  outline: none;
  border: none;
  transition: 0.35s ease;
}
input#search-bar:focus .search-container::after {
  z-index: 20;
  content: "Si votre recherche n'aboutit pas, essayez de déselectionner le bâtiment.";
  width: 100px;
  position: absolute;
  right: 0;
  top: 5vh;
  background: #EF476F;
  color: #fff;
}
input#search-bar:focus, input#search-bar:focus-visible {
  background: #DFE5F7;
  color: #293B5A;
}
input#search-bar:focus::-webkit-input-placeholder, input#search-bar:focus-visible::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder, input#search-bar:focus-visible::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

#search-button {
  all: unset;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #F4F8FF;
  border-radius: 100%;
  margin-left: 5px;
  padding: 0.2em 0.5em;
}
#search-button:active {
  transform: translateY(1px);
  background-color: #F4F8FF;
}

.sub-content {
  display: flex;
  padding: 2em;
}

.sub-content-left {
  height: 90vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.sub-chart {
  width: 100%;
  height: 80%;
}
.sub-chart canvas {
  width: 100%;
  min-height: 300px;
  background-color: #293B5A;
  border-radius: 2em;
  filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.4));
  -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.4));
}

.sub-content-items {
  height: 90vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.sub-content-items .item {
  width: 18%;
  height: 10vh;
  min-width: 60px;
  min-height: 60px;
  padding: 0.8em 1.2em;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 1em;
  margin-top: 25px;
  font-size: 1.2em;
}
.sub-content-items .item span:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sub-content-items .item span:nth-child(1) i {
  padding: 0.5em;
  background: #fff;
  border-radius: 1em;
  line-height: 1em;
}
.sub-content-items .item span:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sub-content-items .item span:nth-child(2) h3 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0 10px 0 0;
}
.sub-content-items .item span:nth-child(2) i {
  color: #DFE5F7;
}

.sub-content-right {
  width: 28%;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.sub-content-right .libre:nth-child(odd) {
  background: #F4F8FF;
  padding: 1em;
  margin-bottom: 25px;
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}
.sub-content-right .libre:nth-child(odd) span:nth-child(1) h3 {
  padding: 1em;
  border-radius: 1em;
  background: #DFE5F7;
}
.sub-content-right .libre:nth-child(odd) span:nth-child(2) p:nth-child(2) {
  font-weight: 700;
}
.sub-content-right .libre:nth-child(even) {
  background: #DFE5F7;
  padding: 1em;
  margin-bottom: 25px;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.sub-content-right .libre:nth-child(even) span:nth-child(1) h3 {
  padding: 1em;
  border-radius: 1em;
  background: #F4F8FF;
}
.sub-content-right .libre:nth-child(even) span:nth-child(2) p:nth-child(2) {
  font-weight: 700;
}

/*# sourceMappingURL=index.css.map */
