/* Variables SASS */

$c-bg: #fff;
$c-text: #000;
$c-gris-1: #DFE5F7;
$c-gris-2: #F4F8FF;
$c-bleu-1: #7B96C4;
$c-bleu-2: #293B5A;
$c-bleu-3: #118AB2;
$c-vert: #55E4D4;
$c-jaune: #FFD166;
$c-rose: #EF476F;
$c-chevron-rouge: #FF5D87;
$c-chevron-vert: #49D8B6;

$w-texte: 13px;
$w-sidebar: 8vw;
$w-section: 100vw - $w-sidebar;
$w-recherche: 10vw;
$w-sub-left: 70%;
$w-sub-right: 28%;
$w-search-button: 25px;

$h-barre-haut: 6vh;
$h-sub: 90vh;

$d-transition: .7s;


/*---------- General ----------*/

body {
  font-family: 'Rubik',sans-serif;
  font-size: $w-texte;
  margin: 0;
  padding: 0;
  background: $c-bg;
  color: $c-bleu-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// Transitions et animations

body {
  -webkit-transition: all $d-transition ease;
  -moz-transition: all $d-transition ease;
  -ms-transition: all $d-transition ease;
  -o-transition: all $d-transition ease;
  transition: all $d-transition ease;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.section {
   opacity:0;
   -webkit-animation:fadeIn ease-in 1;
   -moz-animation:fadeIn ease-in 1;
   animation:fadeIn ease-in 1;
   -webkit-animation-fill-mode:forwards;
   -moz-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   animation-duration:1s;
}


/*---------- Sidebar ----------*/

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $w-sidebar;
  min-width: 80px;
  z-index: 10;
  background-color: $c-jaune;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);

  & #logo {
    position: absolute;
    top: 0;
    width: 100%;
    background: #FFF;

    &::before {
      content: "";
      position: absolute;
      bottom: -50px;
      right: 0;
      height: 50px;
      width: 25px;
      border-top-right-radius: 25px;
      box-shadow: 0 -25px 0 0 #fff;
    }
  }

  & .pop {
    width: 100%;
    height: 20%;
    min-height: 50px;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &.selected .pop-wrap {
      transition: background-color 500ms cubic-bezier(.9, 0, .33, 1), border-radius 900ms cubic-bezier(.9, 0, .33, 1);
    }

    & .pop-wrap {
      width: 50%;
      min-width: 40px;
      border-radius: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      transition: background-color 900ms cubic-bezier(.9, 0, .33, 1), border-radius 500ms cubic-bezier(.9, 0, .33, 1);

      & .svg-wrap {
        cursor: pointer;
        position: relative;
        padding: 1em;

        & svg {
          fill: #fff;
          transition: all 500ms cubic-bezier(.9, 0, .33, 1);
        }

        &:active {
          transform: scale(.95);
        }
      }

      // Select modifié
      & .select {
        position: relative;
        height: 3em;
        line-height: 3;
        padding: .1em .5em;
        margin-left: 10px;
        overflow: hidden;
        border-radius: 1.5em;

        &::after {
          content: '\25BE';
          position: absolute;
          top: 0;
          right: 0;
          padding: .1em .5em;
          cursor: pointer;
          pointer-events: none;
          -webkit-transition: .25s all ease;
          -o-transition: .25s all ease;
          transition: .25s all ease;
        }

        &:hover::after {
          color: $c-jaune;
        }

        & select {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          outline: 0;
          box-shadow: none;
          border: 0 !important;
          background-image: none;
          background-color: transparent;
          flex: 1;
          padding: 0 .8em 0 .1em;
          cursor: pointer;

          &::-ms-expand {
            display: none;
          }
        }
      }
    }
  }
}


/*---------- Section Graph ----------*/

#section {
  width: $w-section;
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.barre-haute {
  width: 100%;
  height: $h-barre-haut;
  min-height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  & h1 {
    font-size: 1.5em;
    font-weight: 100;
    padding: 0 0 0 20px;
    color: $c-bleu-2;

    & span {
      padding: .5em;
      border-radius: 1em;
      background: $c-rose;
      color: #fff;
    }
  }
}

// Recherche

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 0 5vw 0 1vw;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: $c-gris-2;
  border-radius: 2em;
  padding: 1em;
  outline: none;
  border: none;
  transition: 0.35s ease;

  &:focus .search-container::after {
    z-index: 20;
    content: "Si votre recherche n'aboutit pas, essayez de déselectionner le bâtiment.";
    width: 100px;
    position: absolute;
    right: 0;
    top: 5vh;
    background: $c-rose;
    color: #fff;
  }

  &:focus, &:focus-visible {
    background: $c-gris-1;
    color: $c-bleu-2;

    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }

    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
   }
 }

#search-button {
  all: unset;
  cursor: pointer;
  width: $w-search-button;
  height: $w-search-button;
  background-color: $c-gris-2;
  border-radius: 100%;
  margin-left: 5px;
  padding: .2em .5em;
  &:active {
    transform: translateY(1px);
    background-color: $c-gris-2;
  }
}

// Chart

.sub-content {
  display: flex;
  padding: 2em;
}

.sub-content-left {
  height: $h-sub;
  width: $w-sub-left;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.sub-chart {
  width: 100%;
  height: 80%;

  & canvas {
    width: 100%;
    min-height: 300px;
    background-color: $c-bleu-2;
    border-radius: 2em;
    filter: drop-shadow(0 1px 10px rgba(0,0,0,.4));
    -webkit-filter: drop-shadow(0 1px 10px rgba(0,0,0,.4));
  }
}

.sub-content-items {
  height: $h-sub;
  width: $w-sub-left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.sub-content-items .item {
  width: 18%;
  height: 10vh;
  min-width: 60px;
  min-height: 60px;
  padding: .8em 1.2em;
  display: flex;
  flex-direction: column;
  color: #fff;
  //filter: drop-shadow(0 1px 8px rgba(0,0,0,.1));
  //-webkit-filter: drop-shadow(0 1px 8px rgba(0,0,0,.1));
  border-radius: 1em;
  margin-top: 25px;
  font-size: 1.2em;

  & span:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & i {
      padding: .5em;
      background: #fff;
      border-radius: 1em;
      line-height: 1em;
    }
  }

  & span:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & h3 {
      font-size: 1.8em;
      font-weight: 700;
      margin: 0 10px 0 0;
    }

    & i {
      color: $c-gris-1;
    }
  }
}

.sub-content-right {
  width: $w-sub-right;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  & .libre:nth-child(odd) {
    background: $c-gris-2;
    padding: 1em;
    margin-bottom: 25px;
    border-radius: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;

    & span:nth-child(1) {

      & h3 {
        padding: 1em;
        border-radius: 1em;
        background: $c-gris-1;
      }
    }

    & span:nth-child(2) {

      & p:nth-child(2) {
        font-weight: 700;
      }
    }
  }

  & .libre:nth-child(even) {
    background: $c-gris-1;
    padding: 1em;
    margin-bottom: 25px;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    & span:nth-child(1) {

      & h3 {
        padding: 1em;
        border-radius: 1em;
        background: $c-gris-2;
      }
    }

    & span:nth-child(2) {

      & p:nth-child(2) {
        font-weight: 700;
      }
    }
  }
}