@charset "UTF-8";
/* Variables SASS */
/* General */
body {
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #7B96C4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

/* Transitions et animations */
body, button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/*-- Sections --*/
.section {
  width: 100vw;
  height: 100vh;
}

.barre-haute {
  width: 100%;
  height: 6vh;
  min-height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: #F6FAFE;
}
.barre-haute h1 {
  font-size: 2em;
  font-weight: 100;
  padding: 0 0 0 20px;
  color: #293B5A;
}
.barre-haute span {
  height: 100%;
  width: 18vw;
  min-width: 150px;
  align-items: center;
  justify-content: space-around;
  border-left: 0.5px solid #7B96C4;
  display: flex;
}
.barre-haute span i {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.barre-haute span i img {
  width: 100%;
  margin: auto 0;
}
.barre-haute span h2 {
  text-transform: uppercase;
  font-size: 0.9em;
}

/* Recherche */
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 0 5vw 0 1vw;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px solid #7B96C4;
  border-radius: 2em;
  padding: 1em;
  outline: none;
}
input#search-bar:focus {
  border: 1px solid #293B5A;
  transition: 0.35s ease;
  color: #293B5A;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

#search-button {
  all: unset;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #7B96C4;
  border-radius: 100%;
  margin-left: 5px;
  padding: 0.2em 0.5em;
}
#search-button:active {
  transform: translateY(1px);
}

/* Section : activité */
.sub-content {
  display: flex;
}

.sub-content-left {
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.sub-top {
  width: 95%;
  height: 20%;
  min-height: 80px;
  padding: 0.2em 2em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.sub-top h2 {
  margin: 0;
  color: black;
  font-size: 2em;
  font-weight: 300;
}
.sub-top div form {
  min-width: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.sub-top div form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  background-color: #fff;
  flex: 1;
  padding: 0 1.5em 0 1em;
  cursor: pointer;
}
.sub-top div form select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  height: 3em;
  line-height: 3;
  padding: 0 1em;
  margin-right: 1em;
  border: 2px solid #F4F8FF;
  overflow: hidden;
  border-radius: 2em;
}
.select::after {
  content: "▾";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #f39c12;
}

.sub-middle {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.sub-middle canvas {
  width: 100%;
  min-height: 300px;
}

.sub-content-right {
  height: 90vh;
  width: 18vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sub-content-right .item {
  width: 50%;
  height: 20%;
  min-width: 60px;
  min-height: 60px;
  padding: 0.8em 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #F4F8FF;
  border-radius: 1em;
  margin-top: 25px;
  font-size: 1.2em;
}
.sub-content-right .item i.fa-chevron-circle-up {
  font-size: 0.8em;
  color: #49D8B6;
}
.sub-content-right .item i.fa-chevron-circle-down {
  font-size: 0.8em;
  color: #FF5D87;
}
.sub-content-right .item h3 {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
